# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
/C Sharp Source/LabVIEW CLI/bin
/C Sharp Source/LabVIEW CLI/obj
/Installer
/C Sharp Source/LabVIEW CLI Setup/LabVIEW CLI Setup/Express
