<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define LabVIEW CLI_TargetDir=$(var.LabVIEW CLI.TargetDir)?>
  <Product Name="LabVIEW CLI" 
           Language="1033" 
           Version="1.2.0.1" 
           Manufacturer="LabVIEW CLI Contributors"
           Id="*"
           UpgradeCode="1EFDB3E4-2430-457E-AA06-F0C9866F9236">
    <Package Id='*' Keywords='Installer' Description="LabVIEW CLI Installer" Manufacturer="LabVIEW CLI Contributors"
             InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="LabVIEW-CLI" Level="1" ConfigurableDirectory='INSTALLFOLDER'>
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="LabVIEW-CLI" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="CommandLine.dll" Guid="12c93943-6e82-480d-a637-ae1925cfc177">
        <File Id="CommandLine.dll" Name="CommandLine.dll" Source="$(var.LabVIEW CLI_TargetDir)CommandLine.dll" />
      </Component>
      <Component Id="labview_cli.exe" Guid="5c78c024-ef30-423b-b839-bece097dbf53">
        <File Id="labview_cli.exe" Name="labview-cli.exe" Source="$(var.LabVIEW CLI_TargetDir)labview-cli.exe" />
      </Component>
      <Component Id="labview_cli.exe.config" Guid="09a86613-f6e9-497e-a9ff-df46ef5c50d6">
        <File Id="labview_cli.exe.config" Name="labview-cli.exe.config" Source="$(var.LabVIEW CLI_TargetDir)labview-cli.exe.config" />
      </Component>
      <Component Id="SetEnvironment" Guid="2d1b9283-3fe1-47d6-8d0d-5a942ed248ad">
        <Environment Id="SetPath" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
        <CreateFolder/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>